@use "./core.scss" as *;

// =============================================================================
// ACCORDION STYLES
// =============================================================================

.flex83-accordion {
  @include card;
  margin-bottom: spacing(4);
  border: 1px solid rgba(var(--neutral-200), 1);
  box-shadow: shadow(none) !important; 
  border-radius: 8px;
  .flex83-accordion-header {
    @include flex-between;
    cursor: pointer;
    position: relative;
    padding: spacing(4) spacing(4);

    .flex83-accordion-header-icon { 
      @include flex-center; 
      margin-right: spacing(2);
    } 

    h6 { 
      font-weight: font-weight(medium);
      font-size: font-size(base);
      color: rgba(var(--neutral-700), 1);
      margin: 0;
    }

    p {
    //   @include typography(base, sm, neutral-600);
    font-weight: font-weight(medium);
      font-size: font-size(base);
      color: rgba(var(--neutral-700), 1);
      margin: 0;
    }

    .flex83-collapse-icon {
     width: 20px;
      height: 20px;
      color: rgba(var(--neutral-600), 1);
      transition: transform transition(base);
    } 
    
  }

  .accordion-divider {
    border-top: 1px solid rgba(var(--neutral-400), 1);
    background-color: rgba(var(--neutral-400), 1);
    margin: spacing(4) 0 0 0;
  }

  .flex83-accordion-body {
    padding: spacing(4);
    background-color: rgba(var(--neutral-50), 1); 
    border-radius: 0px 0px 8px 8px;

  }
} 
