@use "./core.scss" as *;

.badge {
  border-radius: 30px;
  padding: 2px 12px; 
  font-weight: font-weight(medium);
  font-size: font-size(xs);
  margin-right: 12px;
  display: inline-block;

  i {
    margin-right: spacing(1);
  }

  &-primary {
    background-color: rgba(var(--primaryLight));
    color: rgba(var(--primary));
  }

  &-purple {
    background-color: rgba(var(--purpleLight));
    color: rgba(var(--purple));
  }

  &-success {
    background-color: rgba(var(--successLight), 0.18);
    color: rgba(var(--successDark));
  }

  &-warning {
    background-color: rgba(var(--warning), 0.18);
    color: rgba(var(--warningDark), 1);
  }

  &-danger {
    background-color: rgba(var(--error), 0.18);
    color: rgba(var(--error));
  }
}

.availability-badge {
  display: inline-flex;
  align-items: center;
  gap: spacing(2);
  padding: spacing(2) spacing(4);
  margin-bottom: spacing(6);
  border-radius: 30px;
  background-image: linear-gradient(
    135deg,
    #1a1a1a,
    #1b4c96
  ); 
  font-size: 0.875rem;

  .status-dot {
    width: 0.5rem;
    height: 0.5rem;
    background-color: rgba(var(--success),1);
    border-radius: 9999px;
    animation: pulse 2s infinite;
  }

  .status-text {
    color: rgba(var(--neutral-500), 1);
  }
}
