@use "./core.scss" as *;

.breadcrumb {
  margin-top: spacing(4);
  margin-left: spacing(6); 
  .breadcrumb-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .breadcrumb-item {
    display: flex;
    align-items: center;
    color: rgba(var(--neutral-700), 1);
    font-weight: font-weight(regular);
    font-size: font-size(lg);
  }

  .breadcrumb-home {
    cursor: pointer;
    transition: color 0.2s;
    &:hover {
      text-decoration: underline;
      color: #174ea6;
    }
  }

  .breadcrumb-link {
    cursor: pointer; 
    transition: color 0.2s;
    &:hover {
      text-decoration: underline;
      color: #174ea6;
    }
  }

  .breadcrumb-separator {
    margin: 0 8px; 
    color: rgba(var(--neutral-400), 1);
    font-size: 0.9em;
  }

  .breadcrumb-current {
    color: #2563eb; 
    font-weight: font-weight(medium);
  }
}

.deployment-breadcrumb {
  margin-left: 400px; 
  padding-bottom: 12px;
  z-index: 1;
  background-color: rgba(var(--surface), 1);
}
