@use "./core.scss" as *;

// =============================================================================
// Card
// =============================================================================

.card {
  @include card;
  margin-bottom: spacing(4);
  box-shadow: 0px 1px 3px 0px #0000001f, 0px 1px 1px 0px #00000024,
    0px 2px 1px -1px #00000033 !important;
  &-header {
    border-bottom: 1px solid rgba(var(--neutral-200), 1);
    position: relative;
    padding: spacing(0) 0 spacing(4);

    h6 { 
      font-size: font-size(base);
      font-weight: font-weight(medium);
      color: rgba(var(--neutral-700), 1);
      margin: 0;
    }
    p{
      font-size: font-size(sm);
      font-weight: font-weight(base);
      color: rgba(var(--neutral-600), 1);
      margin: 0;
    }
 
  }
 

  &-body {
    padding: spacing(4) 0 spacing(4);
    overflow-y: auto;

    &-full {
      height: calc(100vh - 124px);
    }
  }

  &-hover {
    @include card-hover;
  } 
  &-footer {
    @include flex-start;
    border-top: 1px solid rgba(var(--neutral-200), 1);
    padding: spacing(4) 0 spacing(0);
  }
}


 