@use "./core.scss" as *;
// Hero Section
.section {
  position: relative;
  padding: spacing(10) spacing(2) spacing(0);
  max-width: 72rem;
  margin: 0 auto;
  scroll-margin-top: 60px;

  .hero-content {
    .hero-grid {
      display: grid;
      gap: 3rem;
      align-items: center;

      @media (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .hero-title {
      font-size: font-size(4xl);
      font-weight: font-weight(bold);
      margin-bottom: spacing(4);
      line-height: 1.2;

      @media (min-width: 768px) {
        font-size: font-size(4xl);
      }
    }

    .profile-image-wrapper {
      width: 100%;
      border-radius: border-radius(xl);
      box-shadow: 0 10px 30px rgba(var(--neutral-900), 0.1);
      margin: 0 auto;

      transition: filter 0.6s ease, transform 0.6s ease, opacity 0.6s ease;
      img {
        backdrop-filter: brightness(60%);
        width: 100%;
        border-radius: inherit;
        box-shadow: 0 10px 30px rgba(var(--neutral-900), 0.1);
        margin: 0 auto;
      }
    }
  }
}

// social links
.social-links {
  @include flex-start;
  gap: spacing(3);
  margin-top: spacing(6);
}

// map
.map-wrapper {
  width: 100%;
  height: 250px;
  border-radius: 8px;
  overflow: hidden;
  .map-iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }
}

.img-wrapper {
  height: 270px;
  width: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    border-radius: border-radius(lg) border-radius(lg) 0 0;
  }
}

// Timeline Section SCSS
.timeline-section {
  position: relative;
  .timeline-line {
    position: absolute;
    left: 6px;
    top: 0;
    bottom: 0;
    width: 1.5px;
    @include gradient-primary;
  }

  .timeline-items {
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  // Timeline Item
  .timeline-item {
    position: relative;
    padding-left: spacing(8);

    // Timeline Dot
    .timeline-dot {
      position: absolute;
      left: 0;
      top: 0;
      width: spacing(3);
      height: spacing(3);
      border-radius: 50%;
      @include flex-center;
      box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
        0 4px 6px -2px rgba(0, 0, 0, 0.05);

      .dot-inner {
        width: spacing(2);
        height: spacing(2);
        border-radius: 50%;
      }
    }

    .blue-gradient {
      @include gradient-primary;
    }

    .timeline-card {
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.02);
        box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
          0 10px 10px -5px rgba(0, 0, 0, 0.04);
      }
    }
  }
}
