@use "./core.scss" as *;
.header {
  height: 60px;
  background-color: rgba(var(--surface), 1);
  border-bottom: 1px solid rgba(var(--neutral-300), 1);
  padding: 0 spacing(6);
  z-index: z-index(sticky);
  position: sticky;
  top: 0;
  .header-content {
    @include flex-between;
    max-width: 72rem;
    margin: 0 auto;
    height: 100%;
    .header-left {
      .nav-brand {
        display: flex;
        align-items: center;
        gap: 0.75rem;

        .logo {
          width: 2.5rem;
          height: 2.5rem;
          border-radius: 0.5rem;
          background-color: rgba(var(--primary), 1);
          color: rgba(var(--neutral-100), 1);
          // @include gradient-bg(to bottom right, $violet, $fuchsia);
          @include flex-center;
          font-weight: bold;
        }

        .brand-info {
          .name {
            font-weight: bold;
            font-size: font-size(base);
            color: rgba(var(--neutral-800), 1);
          }

          .title {
            font-size: 0.75rem;
            color: rgba(var(--neutral-600), 1);
          }
        }
      }
    }

    .header-right {
      @include flex-start;
      gap: spacing("3");

      .header-action {
        background: none;
        border: none;
        color: color("neutral-500");
        font-size: font-size("lg");
        cursor: pointer;
        padding: spacing("2");
        border-radius: border-radius("md");
        transition: transition("base");
        @include flex-center;

        &:hover {
          color: color("neutral-900");
          // background-color: color("background-tertiary");
        }

        &:focus {
          outline: none;
        }
      }

      .user-menu {
        position: relative;

        .user-btn {
          padding: spacing("1");
        }

        .user-avatar-small {
          img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
          }
          width: 28px;
          height: 28px;
          background-color: color("primary");
          border-radius: border-radius("full");
          display: flex;
          align-items: center;
          justify-content: center;
          font-weight: font-weight("bold");
          font-size: font-size("xs");
          color: color("neutral-50");
        }
      }
    }
  }
  @include responsive(sm) {
    padding: 0 spacing("4");
  }

  @include responsive(md) {
    height: 60px;
    padding: 0 spacing("5");
  }

  @include responsive(xl) {
    height: 64px;
    padding: 0 spacing("8");
  }
}
