@use "./core.scss" as *;

.modal-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9999;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);

  .modal-dialog {
    position: relative;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: calc(100% - 56px);
    margin: 28px auto;

    &.modal-sm {
      max-width: 560px !important;
    }

    &.modal-md {
      max-width: 860px !important;
    }
    &.modal-ml {
      max-width: 980px !important;
    }

    &.modal-lg {
      max-width: calc(100% - 500px) !important;
    }

    &.modal-xl {
      max-width: calc(100% - 160px) !important;
    }

    &.overflow-visible {
      .modal-scrollable {
        overflow: visible !important;
      }
    }

    .modal-content {
      background-color: rgba(var(--surface), 1);
      box-shadow: 0px 2px 42px 9px rgba(16, 24, 40, 0.15),
        0px 1px 3px 0px rgba(16, 24, 40, 0.1) !important;
      width: 100%;
      border-radius: 12px;

      .modal-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px 24px;
        border-radius: 12px 12px 0px 0px;
        border-bottom: 1px solid rgba(var(--neutral-300), 1);

        h5 {
          color: rgba(var(--neutral-800), 1) !important;
          @include heading-4;
          font-size: font-size(lg);
          &:first-letter {
            text-transform: capitalize !important;
          }
        }
      }

      .modal-scrollable {
        max-height: calc(100vh - 190px);
        overflow-y: auto;
        overflow-x: hidden;
        min-height: 230px;
      }

      .modal-header-delete {
        h5 {
          font-weight: 700;
          color: rgba(var(--error), 1) !important;
        }
      }

      .modal-body {
        padding: 16px 24px;
        position: relative;
      }

      .modal-body-xl {
        height: calc(100vh - 220px);
        overflow-y: auto;
      }

      .delete-modal {
        display: flex;
        flex-direction: column;
        padding: 0px 24px;

        .delete-modal-content {
          width: 100%;
          display: flex;
          flex-direction: column;

          .delete-content-header {
            text-align: center;
            margin-top: 24px;

            .delete-title {
              font-size: font-size(base);
              font-weight: 700;
              color: rgba(var(--neutral-700), 1);
            }
            p {
              color: rgba(var(--neutral-700), 1);
              margin-bottom: 24px;
            }
          }
        }

        .warning-content {
          background-color: #fde9d9;
          border-left: 3px solid #e2693e;
          margin-bottom: spacing(6);
          border-radius: 8px;
          padding: 16px;
          padding-left: 50px;
          position: relative;
          h6 {
            color: #990f0f;
            font-size: 16px;
          }
          p {
            color: #d13438;
            font-weight: 400;
          }
          .alert-icon {
            position: absolute;
            left: 16px;
            top: 19px;
            font-size: 18px;
            color: #e2693e;
          }
          strong {
            font-weight: 600;
          }
          .sub-text {
            padding-left: 20px;
            margin-top: 8px;
            position: relative;

            &::before {
              content: ""; 
              position: absolute;
              left: 8px;
              top: 10px; 
              height: 4px;
              width: 3px;
              border-radius: 50%;
              background-color: #990f0f;
            }
          }
        }
      }

      .modal-footer {
        padding: spacing(4) spacing(6) ;
        border-top: 1px solid rgba(var(--neutral-200), 1);
        @include flex-end; 
      }
    }
  }

  &.sliding-modal {
    .modal-body {
      height: 100%;
    }

    .modal-dialog {
      max-width: 560px;
      margin: 30px auto;
      animation: moveFromCenterToTop 0.6s ease both;

      .modal-content {
        border-radius: 12px;
      }
    }
  }

  &.sliding-modal-transition {
    .modal-dialog {
      animation: moveFromTop 0.6s ease both;
    }
  } 
}

@media only screen and (max-width: 600px) {
  .modal-xl,
  .modal-lg,
  .modal-md {
    padding-left: 70px !important;
    max-width: calc(100% - 20px);
  }
}
