@use "./core.scss" as *;

.modal-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 9999;
  height: 100%;
  width: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.7);

  .modal-dialog {
    position: relative;
    @include flex-center;
    min-height: calc(100% - 56px);
    margin: 28px auto;

    &.modal-sm {
      max-width: 560px !important;
    }

    &.modal-md {
      max-width: 860px !important;
    }
    &.modal-ml {
      max-width: 980px !important;
    }

    &.modal-lg {
      width: 1080px !important;
    }

    &.modal-xl {
      max-width: calc(100% - 160px) !important;
    }

    &.overflow-visible {
      .modal-scrollable {
        overflow: visible !important;
      }
    }

    .modal-content {
      background-color: rgba(var(--surface), 1);
      box-shadow: 0px 2px 42px 9px rgba(16, 24, 40, 0.15),
        0px 1px 3px 0px rgba(16, 24, 40, 0.1) !important;
      width: 100%;
      border-radius: 12px;

      .modal-header {
        // @include flex-between;
        padding: 16px 24px;
        border-radius: 12px 12px 0px 0px;
        border-bottom: 1px solid rgba(var(--neutral-300), 1);

        h5 {
          color: rgba(var(--neutral-800), 1) !important;
          @include heading-4;
          font-size: font-size(lg);
          &:first-letter {
            text-transform: capitalize !important;
          }
        }
        p {
          @include text-sm;
          @include truncate;
        }
      }

      .modal-scrollable {
        max-height: calc(100vh - 190px);
        overflow-y: auto;
        overflow-x: hidden;
        min-height: 230px;
      }

      .modal-body {
        padding: 16px 24px;
        position: relative;
      }

      .modal-body-xl {
        height: calc(100vh - 220px);
        overflow-y: auto;
      }

      .modal-footer {
        padding: spacing(4) spacing(6);
        border-top: 1px solid rgba(var(--neutral-200), 1);
        @include flex-end;
      }
    }
  }

  &.sliding-modal {
    .modal-body {
      height: 100%;
    }

    .modal-dialog {
      // max-width: 560px;
      margin: 30px auto;
      animation: moveFromCenterToTop 0.6s ease both;

      .modal-content {
        border-radius: 12px;
      }
    }
  }

  &.sliding-modal-transition {
    .modal-dialog {
      animation: moveFromTop 0.6s ease both;
    }
  }
}
.modal-body {
  .carousel {
    overflow: hidden;
  }
}

@media only screen and (max-width: 600px) {
  .modal-wrapper {
    .modal-dialog.modal-xl,
    .modal-dialog.modal-lg,
    .modal-dialog.modal-md {
     width: calc(100% - 30px) !important;
        max-width: calc(100% - 47px) !important;
        margin: 28px auto !important;
    }
  }
  .modal-dialog {
    .modal-header {
      p {
        width: 255px;
      }
    }
    .slide {
      @include flex-center;
    }

    .slide img {
      width: 100%;
      height: auto;
      max-height: 35vh;
    }
    .no-data-found {
      height: 35vh;
    }
  }
}
