@use "./core.scss" as *;

// react select start
.form-control-select {
  width: 100%;
  pointer-events: auto !important;
  .disabled {
    cursor: not-allowed !important;
  }

  .form-control-select__input-container {
    .form-control-select__input:focus {
      outline: none;
      box-shadow: none;
    }
  }

  .form-control-select__control {
    border-color: rgba(var(--neutral-300), 1);
    border-radius: 8px;
    min-height: auto;
    width: 100%;

    &:hover {
      border-color: rgba(var(--primary), 1);
    }

    &.form-control-select__control--is-disabled {
      cursor: not-allowed !important;
      background-color: rgb(var(--neutral-200), 1);
    }

    &.form-control-select__control--is-focused {
      box-shadow: none;
    }

    .form-control-select__value-container {
      padding: 5px 8px;
    }
  }

  .form-control-select__placeholder {
    margin: 6px 2px;
    line-height: 16px;
    font-size: font-size(base);
    position: relative;
    top: initial;
    transform: none;
    color: rgba(var(--neutral-600), 1);
  }

  .form-control-select__single-value {
    margin: 6px 2px;
    line-height: 16px;
    font-size: font-size(base);
    position: relative;
    top: initial;
    transform: none;
    color: rgba(var(--neutral-600), 1);
    max-width: calc(100% - 12px);
  }

  .form-control-select__multi-value {
    border-radius: 30px;

    .form-control-select__multi-value__label {
      color: rgba(var(--primary), 1);
      background-color: #d4e9ff;
      font-size: font-size(base);
      padding: 3px 2px 3px 10px;
      border-radius: 12px 0 0 12px;
    }

    .form-control-select__multi-value__remove {
      background-color: #d4e9ff;
      border-radius: 0 12px 12px 0;
      color: rgba(var(--neutral-500), 1);
      cursor: pointer;

      &:hover {
        color: #ca2e07;
      }
    }
  }

  .css-1g6gooi {
    margin-top: 0;
    margin-bottom: 0;
  }

  .form-control-select__indicators {
    .form-control-select__indicator {
      color: rgba(var(--neutral-600), 1);
      padding: 8px 10px 8px 5px;

      svg {
        height: 16px;
        width: 16px;
      }
    }

    .form-control-select__indicator-separator {
      margin: 0;
      display: none;
    }
  }

  .form-control-select__menu {
    box-shadow: none;

    .form-control-select__menu-list {
      box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 1px -5px,
        rgba(0, 0, 0, 0.1) 0px 3px 5px 1px, rgba(0, 0, 0, 0.1) 0px 1px 11px 2px;
      max-height: 175px;
      overflow-y: auto;
      padding: 10px;
      border: none;
      font-size: font-size(base);
      color: rgba(var(--neutral-600), 1);
      border-radius: 6px;
      width: 100%;
      background-color: rgba(var(---surface), 1);
    }

    .form-control-select__option {
      font-size: 13px;
      color: rgba(var(--neutral-600), 1);
      padding: 8px 16px;
      font-weight: 600;
      background-color: white;
      border-radius: 6px;
      display: flex;

      &:last-of-type {
        border-bottom: 0;
      }

      &.form-control-select__option--is-focused {
        color: rgba(var(--primary), 1);
        background-color: #f2f5ff;
        cursor: pointer;
        border-radius: 4px;
      }

      &.form-control-select__option--is-disabled {
        background-color: #f0f2f4;
        cursor: not-allowed;
      }
    }

    .form-control-select__menu-notice {
      color: rgba(var(--neutral-600), 1);
      font-size: 13px;
    }
  }

  &.header-select {
    .form-control-select__input-container {
      padding: 0px;
    }
  }
}

.form-control-select-with-icons {
  .form-control-select__option {
    .select-option-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      flex-shrink: 0;
    }

    .select-option-content {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0;
    }
    .select-option-text {
      color: inherit;
      font-weight: inherit;
      line-height: 1.2;
      font-size: inherit;
    }
  }

  .form-control-select__single-value {
    .select-value-content {
      display: flex;
      align-items: center;
      width: 100%;
      margin: 0;
    }

    .select-value-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      flex-shrink: 0;
    }

    .select-value-text {
      line-height: 1.2;
      color: inherit;
      font-size: inherit;
    }
  }
}

.form-control-select-custom{
  .form-control-select__menu {
        bottom: 100% !important;
        top: auto !important;
        margin-bottom: 5px;
        z-index: 9999;
      }
}

// react select end
