@use "./core.scss" as *;

.toggle {
  .switch {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 42px;

    input {
      opacity: 0;
      height: 0px;
      width: 0px;

      &:checked {
        & + .slider {
          background-color: rgba(var(--primary), 1);
          cursor: pointer;

          &:before {
            -webkit-transform: translateX(20px);
            -ms-transform: translateX(20px);
            transform: translateX(20px);
            background-color: white;
          }
        }
      }
    }

    .slider {
      cursor: pointer;
      position: static;
      background-color: #ccc;
      -webkit-transition: 0.4s;
      transition: 0.4s;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      &.disabled {
        cursor: not-allowed !important;
        opacity: 0.5;
      }

      &:before {
        position: absolute;
        content: "";
        height: 12px;
        width: 12px;
        left: 5px;
        bottom: 4px;
        background-color: #44525fcc;
        -webkit-transition: 0.4s;
        transition: 0.4s;
      }

      &.round {
        border-radius: 30px;

        &:before {
          border-radius: 50px;
        }
      }
    }
  }
}

.modal-list {
  display: flex; 
  flex-wrap: wrap;

  li {
    flex-basis: 33.33%;
    max-width: 33.33%;
    margin-bottom: 12px;
    padding-right: 24px;
    display: flex;
    align-items: center;

    p {
      font-size: font-size("base");
      margin: 0px;
      text-wrap: nowrap;
      line-height: 20px;
      @include truncate;
    }

    .toggle {
      margin-right: 12px;
    }
  }
}
